.account-link {
  width: 100px;
  height: 30px;
  background-repeat: no-repeat;
  background-image: url("../../images/profile-icon.svg");
  background-position: center;
  background-size: contain;
  font-family: var(--main-font);
  color: var(--white);
  transition: var(--opacity);
}

.account-link_place_side-menu {
  margin-top: auto;
}

@media screen and (max-width: 768px) {
  .account-link_hidden {
    display: none;
  }
}
